<div class="toolbar">
    <button mat-icon-button (click)="toggleView('card')">
      <mat-icon>grid_view</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleView('table')">
      <mat-icon>table_view</mat-icon>
    </button>
  </div>
  
  <div *ngIf="isLoading" class="spinner">
    <mat-spinner></mat-spinner>
  </div>
  
  <div *ngIf="!isLoading">
    <ng-container *ngIf="viewMode === 'card'">
      <app-card [entities]="entities"></app-card>
    </ng-container>
  
    <ng-container *ngIf="viewMode === 'table'">
      <table mat-table [dataSource]="entities" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let entity">{{ entity.title }}</td>
        </ng-container>
  
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let entity">
            <button mat-button [routerLink]="['/detail', entity.id]">View Details</button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="['name', 'action']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'action']"></tr>
      </table>
    </ng-container>
  </div>
  