.toolbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
  
  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  