<div class="card-container">
    <mat-card *ngFor="let entity of entities" class="animate__animated animate__fadeIn">
      <mat-card-header>
        <mat-card-title>{{ entity.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="entity.imageUrl" alt="{{ entity.name }}" />
      <mat-card-content>
        <p>{{ entity.shortDescription }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/detail', entity.id]">View Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
  